# Zona horaria
TZ=America/Bogota

# IDs de usuario/grupo usados por Flexget (y otros contenedores que respeten PUID/PGID)
# En Linux: usa `id -u` y `id -g`.
# En macOS normalmente 1000/1000 funciona bien.
PUID=1000
PGID=1000

# Paths en el host (relativos a la carpeta plex-server)
# Puedes dejarlos así si estás en la raíz del proyecto.
MEDIA=./data/media
STORAGE=./data/storage

# Credenciales de Samba (para conectarte por SMB)
SAMBA_USER=samba
SAMBA_PASS=PerroLimon-934!Roca

# Credenciales para Transmission (Web UI en http://IP:9091)
TR_USERNAME=transmission
TR_PASSWORD=PerroLimon-934!Roca

# Password para el Web UI de Flexget (http://IP:5050)
FLEXGET_WEBUI_PASS=PerroLimon-934!Roca

# Token de "claim" de Plex para vincular el servidor a tu cuenta
# Lo obtienes en: https://plex.tv/claim
# Puedes dejarlo vacío si ya reclamaste el servidor antes.
PLEX_CLAIM=claim-R2JW5mK3LzRiS1RKqf9Z
